body {
    background-color: #bfdad163; /* Un gris muy clarito */
    
}

textarea {
    resize: none;
}
#loginForm {
    background: rgba(128, 181, 216, 0.9); /* blanco con 80% opacidad */
    border: none;
    border-radius: 15px; /* Bordes más redondeados */
    padding: 2rem !important;
    box-shadow: 0 10px 25px #ccb2b200 !important; /* Sombra más suave y profunda */
}
main {
    margin: auto;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
}
.foto {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.card {
    border-radius: 12px;
}
textarea {
  field-sizing: content;
  min-height: 100px; /* Un tamaño base inicial */
  max-height: 300px; /* Para que no crezca infinitamente */
  
}
.muro{
    background: rgba(255, 255, 255, 0.8); /* blanco con 80% opacidad */
    border: none;
    border-radius: 15px; /* Bordes más redondeados */
    padding: 2rem !important;
}
p{
    font-size: 0.7rem;
    text-align: justify;
    color: rgb(49, 77, 102);
}
.footer {
  font-size: 0.8rem;
  padding: 5px;
  background-color: #f1f1f1; /* opcional: color de fondo */
  text-align: center;
}
.contactoSLogin {
    text-align: center;
    align-items:normal ;
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenedorLogin {
    margin:auto ;
    background-image:url("imagenes/nepec.jpg");
    height: 100vh; /* Para que ocupe toda la altura de la ventana */
    width: 100%;
    background-size: cover;
    height: 100vh; /* Para que ocupe toda la altura de la ventana */
}
.contenedorIndex{
    background-image:url("imagenes/lufy.webp");
    background-size: cover;
    height: 100vh;
}
.nameRd {
    text-align: center;
    background-color: rgba(6, 92, 223, 0.63);
    color: rgba(240, 242, 243, 0.973);
    font-size: 32px;
    
    border-radius: 2%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}