body {
    background: #f5f6f8;
}

textarea {
    resize: none;
}

.card {
    border-radius: 12px;
}
textarea {
  field-sizing: content;
  min-height: 100px; /* Un tamaño base inicial */
  max-height: 300px; /* Para que no crezca infinitamente */
}